<h1>Hole <%= data.hole %></h1>

<h3>Par <%= data.par %> | <%= data.length %></h3>

<hr class="divider"></hr>

<div class="content">
  <div class="caddy">
    <h2>From the caddie</h2>

    <p>"<%= data.description.trim() %>"
  </div>

  <div class="media">

    <% if (data.video) { %>
    <h2>Video</h2>
    <div class="video-thumbnail" data-brightcove="<%= data.video %>">
      <i class="fa fa-play-circle play-icon"></i>
      <img class="video-link" src="./assets/stills/<%= data.still %>">
    </div>
    <% } %>

    <a class="tour button" href="#tour">Tour this hole</a>
  </div>
</div>