@import "flexbox";

.photos {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, .9);
  width: 100px;
  padding: 4px;
  display: none;
  opacity: 1;
  transition: opacity 1s linear;

  .fullscreened & {
    width: 200px;
  }

  .show-details & {
    display: block;

    @media @tablet {
      position: static;
      width: 100%;
      .display-flex;
      .justify-content(center);

      a {
        display: inline-block;
        vertical-align: top;
      }

      img {
        max-height: 200px;
      }
    }
  }

  .touring & {
    opacity: 0;
  }

  a, img {
    display: block;
  }


}