* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

@import "details";
@import "photos";
@import "aerials";

html, body {

}

a {
  color: @df-dark-gray;
  transition: none;

  &:hover {
    color: @df-light-gray;
  }
}

.ad-container {
  text-align: center;
  padding: 8px 0;
}

main.container {
  width: 1024px;
  max-width: 100%;
  margin: auto;
  padding: 8px;
}

section.three-d {
  max-width: 100%;
  width: 1024px;
  margin: auto;
  background: white;
  .display-flex;
  .flex-direction(column);

  .fullscreened & {
    width: 100%;
  }
}

nav.course-nav {
  padding: 4px 0;
  text-align: center;
  font-family: @df-sans;

  a {
    display: inline-block;
    padding: 0 4px;
    border-radius: 4px;

    &:hover {
      background: #EEE;
      color: black;
    }

    &.selected {
      background: #888;
      color: white;
    }
  }
}

.render-container {
  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    display: block;
    color: white;
    z-index: 999;
    display: none;

    .loading & {
      display: block;
      content: "Loading...";
    }

    .waiting & {
      display: block;
      content: "Click to load experience";
    }
  }
}

.aspect-outer {
  position: relative;
  .flex(1 1);

  .aspect-inner {
    height: 0;
    padding-bottom: percentage(9 / 16);
    position: relative;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      background: black;
    }
  }
}

.toggle-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  z-index: 999;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, .5);
  padding: 4px;

  .fa-expand {
    display: block;
  }

  .fa-compress {
    display: none;
  }

  .fullscreened & {
    .fa-expand {
      display: none;
    }

    .fa-compress {
      display: block;
    }
  }
}

.source {
  font-size: 12px;
  font-family: @df-sans;
}

cite.credits {
  font-size: 12px;
  float: right;
  font-style: normal;
  font-family: @df-sans;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: rgba(255, 255, 255, .3);

  &.show {
    display: block;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    max-width: 90%;
    width: 1200px;
  }

  .close-overlay {
    color: black;
    font-weight: bold;
    font-size: 30px;
    display: block;
    text-align: right;
    cursor: pointer;
  }

  .video-outer {

    .video-inner {
      padding-bottom: 57.6%;
      position: relative;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}