* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

@import "details";
@import "photos";
@import "aerials";
@import "renderer";
@import "overlay";

html, body {

}

.ad-container {
  text-align: center;
  padding: 8px 0;
}

main.container {
  width: 1024px;
  max-width: 100%;
  margin: auto;
  padding: 8px;
}

section.three-d {
  max-width: 100%;
  width: 1024px;
  margin: auto;
  background: white;
  
  a {
    color: @df-dark-gray;
    transition: none;
  
    &:hover {
      color: @df-light-gray;
    }
  }

  .fullscreened & {
    .display-flex;
    .flex-direction(column);
    width: 100%;
  }
}

.source {
  font-size: 12px;
  font-family: @df-sans;
  
  .waiting & {
    display: none;
  }
}

cite.credits {
  font-size: 12px;
  float: right;
  font-style: normal;
  font-family: @df-sans;
}