<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <div class="ad-container top">
      <%= t.include("partials/_ad.html", { type: "banner" }) %>
    </div>

    <section class="df-header">
      <%= t.include("partials/_dfHeader.html") %>
    </section>

    <main class="container">

      <h1>Tour de Course</h1>

      <p class="credits">
        By Thomas Wilburn and Garland Potts

      <p class="chatter">
        With its wild elevation changes, fescue grass, and (nearly) treeless landscape, Chambers Bay will offer golfers an entirely new experience from any previous U.S. Open when it hosts the tournament on June 18-21, 2015. Take a tour of the links-style course using our 3D walkthrough, including videos from U.S. Open Championship Directory Danny Sink and comments from Name Goes Here, a Chambers Bay caddy.
      </p>

      <section class="three-d">
        <nav class="course-nav">
          <a href="javascript:;" class="go-to selected" data-link="overview">Overview</a>
          <% for (var i = 1; i <= 18; i++) { %>
          <a href="javascript:;" class="go-to" data-link="<%= i %>"><%= i %></a>
          <% } %>
        </nav>
        <div class="aspect-outer">
          <a href="javascript:;" class="toggle-fullscreen" title="Toggle fullscreen mode">
            <i class="fa fa-expand"></i>
            <i class="fa fa-compress"></i>
          </a>
          <div class="aspect-inner render-container">
            <canvas class="renderer"></canvas>
          </div>
          <div class="details"></div>
          <div class="photos"></div>
        </div>
        <div class="overlay">
          <div class="modal"></div>
        </div>
      </section>
      <div class="source">
        Elevation data: Robert Trent Jones II, LLC
      </div>

      <section class="aerial-photos">
        <% csv.aerials.forEach(function(row) { %>
        <a href="./assets/photos/<%= row.photo %>" class="lightbox">
          <img src="./assets/photos/thumbs/<%= row.photo %>">
        </a>
        <% }); %>
      </section>

      <section class="related-stories">
        <h2>Related stories</h2>
        <ul>
        <% csv.related.forEach(function(row) { %>
          <li> <a href="<%= row.url %>"><%= row.text %></a>
        <% }); %>
        </ul>
      </section>


    </main>

    <script>
window.courseData = <%= JSON.stringify(csv.course) %>
    </script>

    <script src="app.js" async defer></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
