<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <nav>
      <a href="javascript:;" class="go-to" data-link="overview">Overview</a>
      <% for (var i = 1; i <= 18; i++) { %>
      <a href="javascript:;" class="go-to" data-link="<%= i %>"><%= i %></a>
      <% } %>
    </nav>
    <div class="aspect-outer">
      <div class="aspect-inner render-container">
        <canvas class="renderer"></canvas>
      </div>
    </div>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
