<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <section class="df-header">
      <%= t.include("partials/_dfHeader.html") %>
    </section>

    <div class="ad-container top">
      <%= t.include("partials/_ad.html", { type: "banner" }) %>
    </div>

    <main class="container">

      <section class="three-d">
        <nav class="course-nav">
          <a href="javascript:;" class="go-to selected" data-link="overview">Overview</a>
          <% for (var i = 1; i <= 18; i++) { %>
          <a href="javascript:;" class="go-to" data-link="<%= i %>"><%= i %></a>
          <% } %>
        </nav>
        <div class="aspect-outer">
          <a href="javascript:;" class="toggle-fullscreen" title="Toggle fullscreen mode">
            <i class="fa fa-expand"></i>
            <i class="fa fa-compress"></i>
          </a>
          <div class="aspect-inner render-container">
            <canvas class="renderer"></canvas>
          </div>
          <div class="details"></div>
        </div>
      </section>
      <cite class="credits">
        THOMAS WILBURN / THE SEATTLE TIMES
      </cite>
      <div class="source">
        Elevation data: Robert Trent Jones II, LLC
      </div>

      <section class="related-stories">

      </section>

      <section class="aerial-shots">

      </section>

    </main>

    <script>
window.courseData = <%= JSON.stringify(csv.course) %>
    </script>

    <script src="app.js" async defer></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
